*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  
  background-image: url(../src/images/heart-6972452_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container{
  width: 50%;
  height: 400px;
  background: rgb(177,169,124);
background: linear-gradient(90deg, rgba(177,169,124,1) 8%, rgba(72,57,42,1) 100%);
  margin: 100px auto;
  box-shadow: 1px 2px 3px black;
}
h1{
  text-align: center;
  color: #fbf2c0;
  padding: 20px;
}

form{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 40px auto; 
}
input{
  margin-bottom: 30px;
  height: 40px;
  background-color: whitesmoke;
}
label{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: #fbf2c0;
}
button{
  margin: 0 auto;
  width: 70%;
  padding: 10px;
  background-color: #fbf2c0;
  box-shadow: inset 1px 1px 2px gray
}
button:hover{
  background-color: #d6cb8a;
  cursor: pointer;
}
.abombau{
  width: 300px;
  background-color: #f96f5d;
  margin: 20px auto;
  border: 2px solid white;
  padding: 10px;
}
.grilla{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  background-color: white;
}
.card{

  margin: 10px;
  background-color: transparent;
}

.cardText{
  width: 100%;
  text-align: center;
  background: rgb(177,169,124);
background: linear-gradient(90deg, rgba(177,169,124,1) 8%, rgba(72,57,42,1) 100%);
  color: white;
}

.cardText a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.cardText a:hover{
  color: #d6cb8a;
  
}

img{
  width: 100%;
}